body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .badge {
    font-size: 1.2em;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }  